.photo__name {
    margin: 25px 0;
    padding: 0;
    max-width: 150px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}